#caixa-mae{
    width: 1000px;
    height: 600px;
    background-color: blue;
    display: flex;
    
} /* Todo o que eu fizer aqui afeta os filhos */

#caixa-filho1{
    width: 20%; /* assim estes 100% como isto esta dentro da caixa mao vao corresponder a 1000px */
    height: 20%; /* assim estes 100% como isto esta dentro da caixa mao vao corresponder a 600px */
    background-color: rgb(255, 0, 0);
}

#caixa-filho2{
    width: 20%;
    height: 20%;
    background-color: rgb(94, 255, 0);
}




