@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ubuntu&display=swap');

body{
    margin: 0px;
    background-color: #00081d;
}
#logo{
    width: 150px;

}


#container{
    background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.9) 23.83%, rgba(0, 8, 29, 0.3) 96.1%), url(https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/81c68250-e0f1-4cd8-bf2d-4fd8222163de/BR-pt-20230619-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    height: 880px;
    padding: 30px;

}

#header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}


#select-linguage{
    padding: 5px 24px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 4px;
    margin-right: 18px;
    background-image: url(../assets/images/language.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px;


}


#btn-enter{
    padding: 8px 10px;
    font-size: 14px;
    background-color: #e50914;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}

.options{
    background-color: white;
    color: black;
    font-family: inherit;}

 
#main{
color:white ;
margin-top: 140px;
margin-left: 100px;

}

    
#title-main{
    font-size: 64px;
    font-family: 'Belanosima', sans-serif;

}
h3{
    font-weight: 300px;
    font-family: sans-serif;
    margin-top: 30px;
    
}

form{
    display: flex;
    flex-direction: row;
}

.subtitle-main{
    font-family: sans-serif;

}

#input{
    height: 14px;
    width: 300px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.493); 
    padding: 20px; 
    border-radius: 4px;

}


#btn-start{
    padding: 0px 18px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: 24px;
}

#box-container{
    width: 95%;
    height: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    background: linear-gradient(333.52deg, #000235 24.58%, #010f42 84.55%, #E40913 104.96%);;
    border-radius: 5px;
}

.box-info{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    padding: 40px;
    justify-content: center;
}

#box-text{
    display: flex;
    flex-direction: row;
}
.box-title{
    font-family: 'Belanosima', sans-serif;
    font-size: 48px;
}

.subtitle-main{
    font-size: 18px;
}

#tv{
    margin-left: 200px;
}

#tablet{
    margin-right: 200px;
    margin-left: 100px;
}

.shadow{
    width: 90%;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

#box-credits{
height: 50px;


}

#credits{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;

    
}